*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

:root{

--bg:#050816;
--card:#101826;
--border:#1e293b;
--primary:#3b82f6;
--text:#fff;
--sub:#94a3b8;

}

html{
scroll-behavior:smooth;
}

body{

background:var(--bg);
color:var(--text);
overflow-x:hidden;

}

/* Scroll */

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#2563eb;
